#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color:#f8f8f8;
    background: url(money.jpg) no-repeat center center;
    background-size:cover;
}
#banner_content{
    position: relative;
    padding-top: 12%;
    padding-bottom: 12%;
    margin-top:12%;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-height: 450px;
}
footer{
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}
.row-style{
    margin-top: 75px;
}
.new-row{
    margin-top:25px;
}
.row1{
    margin-top: 50px;
}
.jumbotron{
    border-radius: 0px !important;
}
.bg{
    background-color: rgba(204,255,204,1);
}